{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 54.9804089607602,
        "longitude": 82.82676458358766,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "sazarin",
        "time_zone": "Asia/Novosibirsk",
        "external_url": null,
        "internal_url": null
    }
}